# Ignora archivos del sistema Mac 
.DS_Store

# Ignora la carpeta node_modules, etc folders
node_modules
target

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache